{{!-- post info partial used for homepage --}}

<article class="post-wrapper">
    <div class="post-title">
        <a href="/post/{{id}}">{{title}}</a>
        <p> {{format_date created_at}}</p>
    </div>
    <div class="post-text">
        <p>{{post_text}}</p>
       


    </div>
</article>