<article class="post">
    <div class="title">
        {{title}}
    </div>
    <div class="meta">
        {{post-text}} by {{user.username}} on
        {{format_date created_at}}
    </div>
</article>