<article class="post">
    <div class="title">
        {{title}}
    </div>
    <div class="meta">
        {{post_text}} 
        <br>
        by {{user.username}} on
        {{format_date created_at}}
    </div>
</article>