<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog 5000</title>
    {{!-- link to CSS stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="main-title">
                <a href="/">Tech Blog 5000</a>
            </h1>
            <nav>
                {{!-- conditional of loggedIn - session variable made at user creation --}}
                {{#if loggedIn}}
                <a class="btn-no-style" href="/">Homepage</a>
                <a class="btn-no-style" href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a class="btn-no-style" href="/">Homepage</a>
                <a class="btn-no-style" href="/dashboard">Dashboard</a>
                <a class="btn-no-style" href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Tech Blog 5000 All Rights Reserved</p>
        </footer>
    </div>
                {{!-- conditional of loggedIn - session variable made at user creation --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    
</body>
</html>