<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog 5000</title>
    {{!-- <link rel="stylesheet" href="../../public/stylesheets/style.css"> --}}
    {{!-- is this the right way to link this stylesheet? --}}
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Tech Blog 5000</a>
            </h1>
            <nav>
                <a href="/">Homepage</a>
                <a href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{/if}}
                <a href="/login">Login</a>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            &copy;<em id="date"></em>Tech Blog
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    
</body>
</html>