  <a href="/dashboard"> Return to dashboard</a>
  <br>
  <br>

<div class="post-wrapper">
    {{> post-extend post }}
</div>
<br>



{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}
<div>

  <h4 class="comments">Comments:</h4>
  {{> comments  post.comments }}

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

